@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт бронирования авто</h1>
    <div class="row">
    <form style="width: 100%" action="/Car/GetAll" method="get" class="form-group">
            <label for="cities">Город</label>
            <select name="cityId" class="form-control" id="cities">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <label for="fuelTypes">Вид топлива</label>
        <select name="fuelTypeId" class="form-control" id="fuelTypes">
            @foreach (var fuelType in Model.FuelTypes)
            {
                <option value="@fuelType.Key">@fuelType.Value</option>
            }
        </select>
                    <label for="categories">Класс авто</label>
        <select name="categoryId" class="form-control" id="categories">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        
        <input type="submit" class="btn btn-outline-primary">
    </form>
    </div>
    <img style="width: 100%;" src="~/images/X5.png" alt="">
</div>