@model CreateCarViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form action="Create" method="post" enctype="multipart/form-data">
    <div>
        <input type="text" asp-for="ModelName" placeholder="Модель"/>
    </div>
    <div>
        <input type="number" asp-for="Doors" placeholder="Двери"/>
    </div>
    <div>
        <input type="number" asp-for="Passengers" placeholder="Мест"/>
    </div>
    <div>
        <input type="file" asp-for="Image">
    </div>
    <div>
        <input type="text" asp-for="EngineVolume" placeholder="Объем двигателя"/>
    </div>
    <div>
        <input type="number" asp-for="BaggageCount" placeholder="Количество багажа"/>
    </div>
    <div>
        <label asp-for="CanDeparture"></label>
        <input type="checkbox" asp-for="CanDeparture"/>
    </div>
    <div>
        <label asp-for="RequiredMileage"></label>
        <input type="checkbox" asp-for="RequiredMileage"/>
    </div>
    <div>
        <label asp-for="IsFree"></label>
        <input type="checkbox" asp-for="IsFree">
    </div>
    <div>
        <label asp-for="IsManual"></label>
        <input type="checkbox" asp-for="IsManual">
    </div>
    <div>
        <input type="number" asp-for="DailyPrice" placeholder="Цена за день">
    </div>
    <div>
        <input type="number" asp-for="FromAge" placeholder="Возраст от">
    </div>
    <div>
        <input type="number" asp-for="TilAge" placeholder="Возраст до">
    </div>
    <div>
        <label asp-for="HasConditioning"></label>
        <input type="checkbox" asp-for="HasConditioning">
    </div>
    <div>
        <select asp-for="BrandId">
                @foreach (var brand in Model.Brands)
                {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
    </div>
    <div>
        <select asp-for="BodyTypeId">
                @foreach (var bodyType in Model.BodyTypes)
                {
                    <option value="@bodyType.Key">@bodyType.Value</option>
                }
            </select>
    </div>
    <div>
        <select asp-for="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
    </div>
    <div>
        <select multiple asp-for="FuelTypesId">
                @foreach (var fuelTypes in Model.FuelTypes)
                {
                    <option value="@fuelTypes.Key">@fuelTypes.Value</option>
                }
            </select>
    </div>
    <div>
        <select multiple asp-for="CitiesId">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
    </div>
    <div>
        <input type="submit" value="Создать"/>
    </div>
</form>
