@model EditCarViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form action="Edit" method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" asp-for="Id">
        <input type="text" asp-for="ModelName" placeholder="Model"/>
    </div>
    <div>
        <input type="number" asp-for="Doors" placeholder="Doors"/>
    </div>
    <div>
        <input type="number" asp-for="Passengers" placeholder="Passengers"/>
    </div>
    <div>
        <input type="file" asp-for="Image">
    </div>
    <div>
        <input type="number" asp-for="EngineVolume" placeholder="EngineVolume"/>
    </div>
    <div>
        <input type="number" asp-for="BaggageCount" placeholder="BaggageCount"/>
    </div>
    <div>
        <label asp-for="CanDeparture"></label>
        <input type="checkbox" asp-for="CanDeparture"/>
    </div>
    <div>
        <label asp-for="RequiredMileage"></label>
        <input type="checkbox" asp-for="RequiredMileage"/>
    </div>
    <div>
        <label asp-for="IsFree"></label>
        <input type="checkbox" asp-for="IsFree">
    </div>
    <div>
        <label asp-for="IsManual"></label>
        <input type="checkbox" asp-for="IsManual">
    </div>
    <div>
        <input type="number" asp-for="DailyPrice" placeholder="DailyPrice">
    </div>
    <div>
        <input type="number" asp-for="FromAge" placeholder="FromAge">
    </div>
    <div>
        <input type="number" asp-for="TilAge" placeholder="TilAge">
    </div>
    <div>
        <label asp-for="HasConditioning"></label>
        <input type="checkbox" asp-for="HasConditioning">
    </div>
    <div>
        <select asp-for="BrandId">
                @foreach (var brand in Model.Brands)
                {
                    if (brand.Id == Model.BrandId)
                    {
                        <option selected value="@brand.Id">@brand.Name</option>
                    }
                    else
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                }
            </select>
    </div>
    <div>
        <select asp-for="BodyTypeId">
                @foreach (var bodyType in Model.BodyTypes)
                {
                    if (bodyType.Key == Model.BrandId)
                    {
                        <option selected value="@bodyType.Key">@bodyType.Value</option>
                    }
                    else
                    {
                        <option value="@bodyType.Key">@bodyType.Value</option>
                    }
                }
            </select>
    </div>
    <div>
        <select asp-for="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    if (category.Id == Model.CategoryId)
                    {
                        <option selected value="@category.Id">@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
    </div>
    <div>
        <select multiple asp-for="FuelTypesId">
                @foreach (var fuelTypes in Model.FuelTypes)
                {
                    if (Model.FuelTypesId.Contains(fuelTypes.Key))
                    {
                        <option selected value="@fuelTypes.Key">@fuelTypes.Value</option>
                    }
                    else
                    {
                        <option value="@fuelTypes.Key">@fuelTypes.Value</option>
                    }
                }
            </select>
    </div>
    <div>
        <select multiple asp-for="CitiesId">
                @foreach (var city in Model.Cities)
                {
                    if (Model.CitiesId.Contains(city.Id))
                    {
                        <option selected value="@city.Id">@city.Name</option>
                    }
                    else
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                }
            </select>
    </div>
    <div>
        <input type="submit" value="Изменить"/>
    </div>
</form>