@model System.Collections.Generic.List<FinalProject.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    
@foreach (var order in Model)
{
    <div class="card col-4">
        <div class="card-header">
            @order.Model
        </div>
        <div class="card-body">
            <img width="200" src="@order.ImagePath" alt="">
            <p>doors: @order.Doors</p>
            <p>Passengers: @order.Passengers</p>
            <p>Status: @order.Status</p>
            <a href="~/Order/Cancel?orderId=@order.Id">Отменить</a>
            <a href="~/Order/Approved?orderId=@order.Id">Одобрить</a>
            <p>Status: @order.Status</p>
            <p>BaggageCount: @order.BaggageCount</p>
            <p>BrandName: @order.BrandName</p>
            <p>CategoryName: @order.CategoryName</p>
            <p>EngineVolume: @order.EngineVolume</p>
            <p>FromAge: @order.FromAge</p>
            <p>TilAge: @order.TilAge</p>
            <p>FromDate: @order.FromDate</p>
            <p>OrderDate: @order.OrderDate</p>
            <p>TilDate: @order.TilDate</p>
            <p>BodyTypeName: @order.BodyTypeName</p>
            <div>
                <label>IsManual</label>
                <input type="checkbox" @(order.IsManual ? "checked" : null)>
            </div>
            <div>
                <label>HasConditioning</label>
                <input type="checkbox" @(order.HasConditioning ? "checked" : null)>
            </div>
            <div>
                <label>HasInsurance</label>
                <input type="checkbox" @(order.HasInsurance ? "checked" : null)>
            </div>
            <div>
                <label>HasAdditionalDriver</label>
                <input type="checkbox" @(order.HasAdditionalDriver ? "checked" : null)>
            </div>
            <div>
                <label>HasKidChair</label>
                <input type="checkbox" @(order.HasKidChair ? "checked" : null)>
            </div>
            <div>
                <label>RequiredMileage</label>
                <input type="checkbox" @(order.RequiredMileage ? "checked" : null)>
            </div>
            <div>
                <label>CanDeparture</label>
                <input type="checkbox" @(order.CanDeparture ? "checked" : null)>
            </div>
            <div>
                <p>
                    fuel types
                </p>
                @foreach (var fuelType in order.FuelTypes)
                {
                    <p>@fuelType</p>
                }
            </div>
            <div>
                <p>
                    cities
                </p>
                @foreach (var city in order.Cities)
                {
                    <p>@city</p>
                }
            </div>
            <p>Summ: @order.Summ TJS</p>
        </div>
    </div>
}
</div>