@model System.Collections.Generic.List<FinalProject.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <div class="row">
@foreach (var order in Model)
{
    <div class="card col-4">
        <div class="card-header">
            @order.Model
        </div>
        <div class="card-body">
            <img width="200" src="@order.ImagePath" alt="">
            <p>Условия Бронирования:</p>
            <p>Статус Брони: <span class="text-@(order.Status == "В ожидании" ? "dark" : order.Status == "Одобрено" ? "success": "danger")"> @order.Status</span></p>
            <p>ФИО: @order.FIO</p>
            <p>Возраст: @order.Age</p>
            <p>Телефон: @order.PhoneNumber</p>
            <p>Двери: @order.Doors</p>
            <p>Мест: @order.Passengers</p>
            <p>Багаж: @order.BaggageCount</p>
            <p>Модель: @order.BrandName @order.Model</p>
            <p>Класс: @order.CategoryName</p>
            <p>Тип кузова: @order.BodyTypeName</p>
            <p>Объем двигателя: @order.EngineVolume</p>
            <p></p>
            <p>Возрастные ограничения:</p>
            <p>Возраст от: @order.FromAge</p>
            <p>Возраст до: @order.TilAge</p>
            <p>Дата бронирования: @order.FromDate</p>
            <p>С: @order.OrderDate</p>
            <p>До: @order.TilDate</p>
            
            <div>
                <label>Механическая корбка передач::</label>
                <input disabled type="checkbox" @(order.IsManual ? "checked" : null)>
            </div>
            <div>
                <label>Кодиционер</label>
                <input disabled type="checkbox" @(order.HasConditioning ? "checked" : null)>
            </div>
            <div>
                <label>Страховка</label>
                <input disabled type="checkbox" @(order.HasInsurance ? "checked" : null)>
            </div>
            <div>
                <label>Дополнительный водитель:</label>
                <input disabled type="checkbox" @(order.HasAdditionalDriver ? "checked" : null)>
            </div>
            <div>
                <label>Детское кресло</label>
                <input disabled type="checkbox" @(order.HasKidChair ? "checked" : null)>
            </div>
            <div>
                <label>Ограниченно км:</label>
                <input disabled type="checkbox" @(order.RequiredMileage ? "checked" : null)>
            </div>
            <div>
                <label>Выезд за город:</label>
                <input disabled type="checkbox" @(order.CanDeparture ? "checked" : null)>
            </div>
            <div>
                <p>
                    Вид топлива:
                </p>
                @foreach (var fuelType in order.FuelTypes)
                {
                    <p>@fuelType</p>
                }
            </div>
            <div>
                <p>
                    Город:
                </p>
                @foreach (var city in order.Cities)
                {
                    <p>@city</p>
                }
            </div>
            <p>Summ: @order.Summ TJS</p>
        </div>
    </div>
}
</div>
